*{margin:0;padding:0;border:0;}
body{background-color: #2A2A2A}
table{border-collapse:collapse;border-spacing:0;}
ul,li,dd,dl,dt,img {list-style:none;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-weight:lighter;font-size:100%;}
body,div {font-size:12px;color:#555555;font-family: '宋体',Simsun;-webkit-text-size-adjust:none;}
a{text-decoration:none;}
a:link,a:visited {color:#111111;}
a:active,a:hover {color:#ff0000;}
a.white:link,a.white:visited {color:#ffffff;}
a.white:active,a.white:hover {color:#ffff00;}
a.hui:link,a.hui:visited {color:#999999;}
a.hui:active,a.hui:hover {color:#ffff00;}
a.huii:link,a.huii:visited {color:#555555;}
a.huii:active,a.huii:hover {color:#999999;}
a.hong:link,a.hong:visited {color:#cc0000;}
a.hong:active,a.hong:hover {color:#000000;}
a.lan:link,a.lan:visited {color:#003366;}
a.lan:active,a.lan:hover {color:#ff0000;}


.exhibition_hall {text-align:center;position: relative;overflow:hidden;}
.exhibition_hall h4 {font-size:30px;font-family:"微软雅黑";text-align:center;margin:0px auto;padding-top:50px;color:#000;}
.tline {color:#dedede;}

.roundabout_box ul {}
.roundabout_box img {width:100%;}
/**********roundabout**********/
.roundabout_box {height:810px;width:100%;margin:40px auto 20px auto;} /*父层容器*/
.roundabout-holder{list-style:none;width:350px;height:700px;margin:0px auto;} /* 每个图片间距*/
.roundabout-moveable-item{font-size:12px!important;height:810px;width:430px;cursor:pointer;} /* 内部中间图片大小*/
.roundabout-moveable-item img{height:100%;width:100%;margin:0;}
.roundabout-in-focus{cursor:auto;}
.roundabout-in-focus000:hover{-webkit-box-shadow:0px 0px 20px #787878;-moz-box-shadow:0px 0px 20px #787878;}
.roundabout-holder .text{color:#999;}
.roundabout-in-focus000:hover span{display:inline;position:absolute;bottom:5px;right:5px;padding:8px 20px;color:#3366cc;z-index:999;}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited{outline:none;text-decoration:none;}
.roundabout li{margin:0}

