*{margin:0;padding:0;border:0;}
body{background-color: #2A2A2A}
table{border-collapse:collapse;border-spacing:0;}
ul,li,dd,dl,dt,img {list-style:none;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-weight:lighter;font-size:100%;}
body,div {font-size:12px;color:#555555;font-family: '宋体',Simsun;-webkit-text-size-adjust:none;}
a{text-decoration:none;}
a:link,a:visited {color:#111111;}
a:active,a:hover {color:#ff0000;}
a.white:link,a.white:visited {color:#ffffff;}
a.white:active,a.white:hover {color:#ffff00;}
a.hui:link,a.hui:visited {color:#999999;}
a.hui:active,a.hui:hover {color:#ffff00;}
a.huii:link,a.huii:visited {color:#555555;}
a.huii:active,a.huii:hover {color:#999999;}
a.hong:link,a.hong:visited {color:#cc0000;}
a.hong:active,a.hong:hover {color:#000000;}
a.lan:link,a.lan:visited {color:#003366;}
a.lan:active,a.lan:hover {color:#ff0000;}

.none, .hide,.page_inner.none,a.none {
    display: none ;
}
.page.current .page_inner {
    display: block ;
}


/* page1 */
.page_j {background: url(../images/jbg.jpg) no-repeat; ;}
.exhibition_hall{ position: absolute; left: 0; top: 7%; z-index: 10;}
.btn_close{  display: block; width: 51px; height: 51px; position: absolute; top: 7%; right: 12%; z-index: 12; background: url(../images/btn_close.png) no-repeat;}
.tk-detail .tkIn{ margin-top: 140px;}
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.tk-detail .swiper-container {width: 507px; height: 736px; z-index: 12; background: url(../images/tk_win.png) no-repeat; }
.tk-detail .swiper-container .swiper-slide img{ margin-top: -150px;}
.cd_newsbtn_a,.wh_newsbtn_a,.hf_newsbtn_a{ display: block; width: 322px; height: 160px; z-index: 10; position: absolute; top: 31%; left: 12%; }
.cd_newsbtn_b,.wh_newsbtn_b,.hf_newsbtn_b{ display: block; width: 322px; height: 160px; z-index: 10; position: absolute; top: 52%; left: 12%; }

.cd_newsbtn_c,.wh_newsbtn_c,.hf_newsbtn_c{ display: block; width: 322px; height: 160px; z-index: 10; position: absolute; top: 73%; left: 12%; }
.j_bottom{ position: absolute; left: 0; bottom:-2px;}



.tk-detail .swiper-container {width: 507px; height: 736px; z-index: 12; background: url(../images/tk_win.png) no-repeat; }
.tk-detail .swiper-container .swiper-slide img{ margin-top: -150px;}

.exhibition_hall {text-align:center;position: relative;overflow:hidden;}
.exhibition_hall h4 {font-size:30px;font-family:"微软雅黑";text-align:center;margin:0px auto;padding-top:50px;color:#000;}
.tline {color:#dedede;}

.roundabout_box ul {}
.roundabout_box img {width:100%;}
/**********roundabout**********/
.roundabout_box {height:810px;width:100%;margin:40px auto 20px auto;} /*父层容器*/
.roundabout-holder{list-style:none;width:350px;height:700px;margin:0px auto;} /* 每个图片间距*/
.roundabout-moveable-item{font-size:12px!important;height:810px;width:430px;cursor:pointer;} /* 内部中间图片大小*/
.roundabout-moveable-item img{height:100%;width:100%;margin:0;}
.roundabout-in-focus{cursor:auto;}
.roundabout-in-focus000:hover{-webkit-box-shadow:0px 0px 20px #787878;-moz-box-shadow:0px 0px 20px #787878;}
.roundabout-holder .text{color:#999;}
.roundabout-in-focus000:hover span{display:inline;position:absolute;bottom:5px;right:5px;padding:8px 20px;color:#3366cc;z-index:999;}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited{outline:none;text-decoration:none;}
.roundabout li{margin:0}

